body{
  background-color: #19171d;
  color: #ffffff;
  font-family: Sofia Pro, 'sans-serif';

}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

.parent{
  padding: 0px 0px 40px;
  width: 88%;
  max-width: 1600px;
  margin: auto;
}

.nav-colored{
  background-color: #000000;
}

.nav-transparent{
  background-color: transparent;
}

.menu.scrolled {
  background-color: #19171d!important;
  transition: background-color 200ms linear;
    padding: 24px 220px;
}

.menu{
  transition:background-color 200ms linear;
  background-color: transparent;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  padding: 60px 220px;
  text-align: right;
}

.menu a{
  text-decoration: none;
  font-weight: bolder;
  margin-left: 30px;
  color: #0F84AE;
  font-size: 18px;
}

.topbar{
  /*text-align: center;*/
  padding-top: 40px;
  position: relative;
}

.hdmi{
position: absolute;
right: 10px;
top: -80px;
height: 380px;
}

.sigil, .avatar{
  max-height: 150px;
  margin-right: 10px;
}

.avatar{
  margin-left: 10px;
  border-radius: 50%;
}

.nametag{
  margin-top: 8px;
  font-weight: bolder;
  font-size: 90px;
  margin-left: -4px;
  display: block;
}

.full-content{
  width: calc(100% + 15px);
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding: 20px 0px;
    display: flex;
flex-wrap: wrap;
margin-left: -15px;
margin-bottom: -30px;
align-items: flex-start; /* new */
}



.full-content img {
  width: calc(33.33333% - 30px);
  border-radius: 6px;
margin: 0px 15px 30px;
    -webkit-box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.3);
}


.subtag{
  display: block;
  font-weight: 100;
  font-size: 22px;
  line-height: 1.5;
}

.ephod{
  color: #0d9244;
  text-decoration: none;
}

.siriuslabs{
  color: #FF9A14;
  text-decoration: none;
}

.worklink{
  color: #3681eb;
  white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}


.work-history, .projecthistory, .contacthistory{
  margin-top: 120px;
  padding-top: 30px;
  display: flex;
  border-top: 1px solid rgba(255,255,255,.1);
}


.sectiontag{
  font-weight: bolder;
  font-size: 80px;
  width: 30%;
  min-width: 200px;
  color: #0F84AE;
}



.sectionbody{
  flex-grow: 1;
  width: calc(90% - 120px);
margin-left: 70px;
/*padding-right: 50px;*/
}

.rolelabel{
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  display: block;
  line-height: 1.5;
}

.datelabel{
  font-size: 18px;
  line-height: 1.7;
  font-weight: 100;
  display: block;
}

.companylabel{
  font-size: 22px;
  display: block;
  font-weight: bolder;
  line-height: 1.5;
}

.end{
  height: 2px;
  background-color: #ffffff;
  margin: 70px 0px;
  width: 10px;
}

.contacthistory .workdesc{
  margin-top: 12px;
}


.workdesc{
  display: block;
  margin-top: 40px;
  line-height: 1.5;
  font-size: 22px;
}


.footer-icons{
  display: flex;
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(255,255,255,.1);
}

.spacer{
  flex-grow: 1;
}


.footer-icons a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 30px;
}

.description{
  margin-top: 140px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 32px;
  width: 80%
}
