@media (min-width: 768px) and (max-width: 1024px) {

.sectiontag{
  font-size: 60px;
}


.full-content{

      width: calc(100% + 20px);
          margin-left: -10px;
}

.full-content img{
  width: calc(50% - 20px);
  margin: 0px 10px 20px;
  border-radius: 5px;
}

.full-content img.full-width{
  width: calc(100% - 20px);
}

.description{
  width: 100%;
}

.sectionbody{
  flex-grow: 1;
  width: 100%;
  margin-left: 0px;
  margin-top: 40px;
}

.work-history, .projecthistory, .contacthistory{
  display: block;
  margin-top: 80px;
    padding-top: 50px;
}

.musicbar{
  margin-top: 30px;
}

.menu{
  display: none;
}

.spacer{
  flex-grow: inherit;
}


.reserved{
  display: none;
}

}
