@media (max-width: 767px) {

  .work-history, .projecthistory, .contacthistory{
    flex-direction: column;
        margin-top: 70px;
            padding-top: 50px;
  }

  body{
    padding: 0px;
    margin: 0px;
  }


  .sectionbody{
    margin: 0px;
    width: 100%;
  }


  .portfolio_details{
    flex-direction: column;
    margin-top: 80px;
  }


  .avatar{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    margin-right: 0px;
    box-shadow: 0px 10px 20px 8px rgba(0,0,0,0.8);
  }

.parent{
  width: 90%;
  padding: 0px 0px 30px;
}

.topbar{
  text-align: center;
}

.nametag{
  font-size: 70px;
}

.description{
  width: 100%;
  margin-top: 60px;
      font-size: 24px;
}

.menu{
  /*position: inherit;*/
  padding: 20px 0px 60px;
  text-align: center;
/* display: none; */
}

.menu_inner{
  justify-content: center;
}

.menu a{
    margin-left: 10px;
    margin-right: 10px;
}


.name_banner{
  margin-top: 0px;
}

.musicbar{
  margin-top: 50px;
}


.hdmi{
  display: none;
}

.subtag{
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 0px 30px;
  text-shadow: 0px 0px 4px rgb(0 0 0);
}

.full-content{

      width: calc(100% + 20px);
          margin-left: -10px;
}

.full-content img{
          width: calc(50% - 10px);
          margin: 0px 5px 10px;
              border-radius: 5px;
}

.full-content img.full-width{
  width: calc(100% - 10px);
}

.footer-icons{
  flex-direction: column;

}

.end{
  margin: 40px 0px;
}

.sectiontag{
  margin-bottom: 10px;
}

.footer-icons a{
  margin-right: 0px;
  margin-bottom: 24px;
}

.grid-container {
                display: flex;
                flex-direction: column;
                aspect-ratio: auto;
            }
            .item {
                min-height: 200px;
            }

}
